<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CapacReport by Zafer Aslan</title>
    <!-- Bootstrap -->
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <!-- Custom CSS -->
    <!-- Custom Fonts -->
    <link href="~/Content/font1-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- DataTables CSS -->
    <link href="~/Content/dataTables1.bootstrap.min.css" rel="stylesheet">
    <!-- DataTables Responsive CSS -->
    <link href="~/Content/responsive1.dataTables.min.css" rel="stylesheet">
    <link href="~/Content/buttons1.dataTables.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/bootstrap1-datepicker.min.css">

    <link rel="stylesheet" href="~/Content/jquery1.jgrowl.css" />

    <link rel="icon" href="@Url.Content("~/Image/BWIcon.ico")" />

</head>
    <style>

        @@font-face {
            font-family: 'Racing Sans One';
            font-style: normal;
            font-weight: 400;
            src: local('Racing Sans One'), local('RacingSansOne-Regular'), url(../fonts/sykr-yRtm7EvTrXNxkv5jfKKyDCAJnDnapI.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }

        @@font-face {
            font-family: 'Racing Sans One';
            font-style: normal;
            font-weight: 400;
            src: local('Racing Sans One'), local('RacingSansOne-Regular'), url(../fonts/sykr-yRtm7EvTrXNxkv5jfKKyDCAKHDn.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        .progress-bar {
            border: 1px solid black;
            background-color: #f0f0f0;
        }

            .progress-bar div {
                background-color: red;
                height: 1.25em;
            }

        #primary_nav_wrap {
            margin-top: 15px
        }

            #primary_nav_wrap ul {
                list-style: none;
                position: relative;
                float: left;
                margin: 0;
                padding: 0
            }

                #primary_nav_wrap ul a {
                    display: block;
                    color: #fff;
                    text-decoration: none;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 21px;
                    padding: 0 15px;
                    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
                }

                #primary_nav_wrap ul li {
                    position: relative;
                    float: left;
                    margin: 0;
                    padding: 0
                }

                    #primary_nav_wrap ul li.current-menu-item {
                        background: #fff
                    }

                    #primary_nav_wrap ul li:hover {
                        background: #000000
                    }

                #primary_nav_wrap ul ul {
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    background: #000000;
                    padding: 0
                }

                    #primary_nav_wrap ul ul li {
                        float: none;
                        width: 200px
                    }

                    #primary_nav_wrap ul ul a {
                        line-height: 120%;
                        padding: 10px 15px
                    }

                    #primary_nav_wrap ul ul ul {
                        top: 0;
                        left: 100%
                    }

                #primary_nav_wrap ul li:hover > ul {
                    display: block
                }
        h1 {
            font-size: 50px;
            font-weight: 500;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 5px;
            padding: 1em 0 1em 0;
            margin: 0;
        }

        .navbar-collapse {
            background-color: #00008b;
        }

        .navbar-fixed-top {
            background-color: #00008b;
        }

        a.navbar-brand {
            background-color: #00008b;
            color: #ffffff;
        }

        .container-fluid {
            background-color: #00008b;
        }

        .navbar-nav {
            color: #ffffff;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: #ffffff;
        }

        .navbar-inverse .navbar-brand > li > a {
            color: #ffffff;
        }

        td.highlight {
            background-color: whitesmoke !important;
        }

        .navbar-inverse .navbar-brand {
            color: #ffffff;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #00008b;
            color: white;
            text-align: center;
        }

        .bg_load {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            background: #EEE;
        }

        .wrapper {
            /* Size and position */
            font-size: 25px; /* 1em */
            width: 8em;
            height: 8em;
            position: fixed;
            left: 50%;
            top: 50%;
            margin-top: -100px;
            margin-left: -100px;
            /* Styles */
            border-radius: 50%;
            background: rgba(255,255,255,0.1);
            border: 1em dashed rgba(138,189,195,0.5);
            box-shadow: inset 0 0 2em rgba(255,255,255,0.3), 0 0 0 0.7em rgba(255,255,255,0.3);
            animation: rota 3.5s linear infinite;
            /* Font styles */
            font-family: 'Racing Sans One', sans-serif;
            color: #444;
            text-align: center;
            text-transform: uppercase;
            text-shadow: 0 .04em rgba(255,255,255,0.9);
            line-height: 6em;
        }

            .wrapper:before,
            .wrapper:after {
                content: "";
                position: absolute;
                z-index: -1;
                border-radius: inherit;
                box-shadow: inset 0 0 2em rgba(255,255,255,0.3);
                border: 1em dashed;
            }

            .wrapper:before {
                border-color: rgba(138,189,195,0.2);
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }

            .wrapper:after {
                border-color: rgba(138,189,195,0.4);
                top: 1em;
                right: 1em;
                bottom: 1em;
                left: 1em;
            }

            .wrapper .inner {
                width: 100%;
                height: 100%;
                animation: rota 3.5s linear reverse infinite;
            }

            .wrapper span {
                display: inline-block;
                animation: placeholder 1.5s ease-out infinite;
            }

                .wrapper span:nth-child(1) {
                    animation-name: loading-1;
                }

                .wrapper span:nth-child(2) {
                    animation-name: loading-2;
                }

                .wrapper span:nth-child(3) {
                    animation-name: loading-3;
                }

                .wrapper span:nth-child(4) {
                    animation-name: loading-4;
                }

                .wrapper span:nth-child(5) {
                    animation-name: loading-5;
                }

                .wrapper span:nth-child(6) {
                    animation-name: loading-6;
                }

                .wrapper span:nth-child(7) {
                    animation-name: loading-7;
                }

        @@keyframes rota {
            to {
                transform: rotate(360deg);
            }
        }

        @@keyframes loading-1 {
            14.28% {
                opacity: 0.3;
            }
        }

        @@keyframes loading-2 {
            28.57% {
                opacity: 0.3;
            }
        }

        @@keyframes loading-3 {
            42.86% {
                opacity: 0.3;
            }
        }

        @@keyframes loading-4 {
            57.14% {
                opacity: 0.3;
            }
        }

        @@keyframes loading-5 {
            71.43% {
                opacity: 0.3;
            }
        }

        @@keyframes loading-6 {
            85.71% {
                opacity: 0.3;
            }
        }

        @@keyframes loading-7 {
            90% {
                opacity: 0.3;
            }
        }
    </style>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Home/Index">BorgWarner Inc</a>
            </div>
        </div>
        <div class="bg_load"></div>
        <div class="wrapper">
            <div class="inner">
                <span>L</span>
                <span>o</span>
                <span>a</span>
                <span>d</span>

            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <div class="footer">

            <p>&copy; @DateTime.Now.Year - design by Zafer Aslan  @ViewContext.Controller.GetType().Assembly.GetName().Version</p>

        </div>
    </div>


    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
    @{
        var message = TempData["AlertMessage"] ?? string.Empty;
    }

    <script type="text/javascript">
        var message = '@message';
        if(message)
                alert(message);

            $(window).on("load", function () {
                $(".bg_load").fadeOut("slow");
                $(".wrapper").fadeOut("slow");

        });
        function timedRefresh(timeoutPeriod) {
            setTimeout(function () {
                location.reload(true);
            }, timeoutPeriod);
        }


    </script>
</body>
</html>
